/***** GENERAL *****/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title,
h2,
h3 {
  margin: 0px;
}

.section-title {
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 15px;
}

.card-subtitle {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  padding: 0 20px;
}

/***** header *****/

header {
  display: flex;
  justify-content: space-between;
}

/*booki*/

.booki {
  display: flex;
  padding: 18px 0px;
}

.booki img {
  display: flex;
  width: 61px;
  height: 19px;
}

/*navigation*/

nav ul {
  display: flex;
  list-style-type: none;
  padding-top: 6px;
  margin: 0px 0px 0px 0px;
  gap: 68px;
}

nav li:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  margin-top: -14px;
  padding-top: 12px;
}

/***** INFO GROUP *****/

.info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/*titre*/

.infotext {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infotext h1,
p {
  margin: -13px 1px;
}

.title h1 {
  font-size: 22px;
}

/*formulaire*/

.searchbar form {
  display: flex;
  align-items: center;
}

.iconposition {
  padding: 15px 19px;
  background-color: var(--main-bg-color);
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
  font-size: 18px;
}

.fa-location-dot {
  color: #000000;
}

.searchtext {
  padding: 13px 19px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--main-bg-color);
}

.field {
  border: none;
  outline: none;
  font-weight: bold;
  width: 150px;
  color: black;
  font-size: 18px;
}

.searchbutton {
  padding: 7px 7px;
  border: none;
  border-end-end-radius: 15px;
  border-start-end-radius: 15px;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.searchiconmobile {
  border-radius: 15px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  font-size: 17px;
  padding: 15px 16px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  display: none;
}

/*filter*/

.search-filters {
  display: flex;
  flex-flow: wrap;
  padding-top: 30px;
}
.search-filters-title {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.search-filters-box {
  display: flex;
  align-items: center;
  margin: 10px 5px 0px 5px;
  border: 2px solid #dac9c9;
  border-radius: 2em;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.search-filters-box:hover {
  background-color: #d9d9d9;
}

.search-filters-icon-box {
  display: flex;
  color: #0065fc;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  margin: 1px;
  font-size: initial;
}

.search-filter-boxA {
  width: 155px;
  height: 48px;
}
.search-filter-boxB {
  width: 120px;
  height: 48px;
}
.search-filter-boxC {
  width: 148px;
  height: 48px;
}
.search-filter-boxD {
  width: 148px;
  height: 48px;
}

.searchFilters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.search-filters-box {
  display: flex;
  align-items: center;
  margin-right: 6px;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
  font-size: inherit;
}

.search-filters-box :hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}
.search-filters-icon-box :hover {
  background-color: #f3f8ff;
}

.fa-info {
  font-size: 11px;
}

.search-result-box {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.search-result-icon-box {
  color: #0065fc;
  border: solid 1px #f2f2f2;
  padding: 6px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

@media screen and (max-width: 650px) {
  .search-filters-title {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .searchForm {
    display: flex;
    width: 100%;
  }
  .searchFormSearchinput {
    flex: 1;
  }
  .searchFormSubmitinputText {
    display: none;
  }
  .searchFormSubmitinputIcon {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .searchFiltersTitle {
    width: 100%;
  }
  .searchFiltersFilter {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 601px) {
  .searchFormSubmitinputText {
    display: block;
  }
  .searchFormSubmitinputIcon {
    display: none !important;
  }
}

.searchfilters {
  display: flex;
  flex-flow: wrap;
  padding-top: 30px;
}
.searchfilterstitle {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.searchfiltersbox {
  display: flex;
  align-items: center;
  margin: 10px 5px 0px 5px;
  border: 2px solid #dac9c9;
  border-radius: 2em;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.searchfiltersbox:hover {
  background-color: #d9d9d9;
}

.searchfiltersiconbox {
  display: flex;
  color: #0065fc;
  width: 2.5em;
  height: 3.2em;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  margin: -2px;
  font-size: initial;
}

.searchfilterboxA {
  width: 150px;
  height: 40px;
}
.searchfilterboxB {
  width: 120px;
  height: 40px;
}
.searchfilterboxC {
  width: 140px;
  height: 40px;
}
.searchfilterboxD {
  width: 140px;
  height: 40px;
}

@media screen and (min-width: 536px) {
  .searchforminserticon {
    display: none !important;
  }
}

.searchresultbox {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.searchresulticonbox {
  color: #0065fc;
  border: solid 1px #f2f2f2;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
/*bar information*/

.infobar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  padding: 6px 9px;
  font-size: 10px;
}

/***** HEBERGEMENTS AND POPULAIRES *****/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
}

/***** HEBERGEMENTS *****/
.hebergements {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  width: 65%;
  gap: 30px;
}

.hebergementstitle {
  margin: 26px 6px -13px 40px;
}

/*article d'hébergements*/

.catalog {
  display: inline-block;
  padding: 6px;
  margin: 15px 10px 10px 10px;
  border-radius: 1.5em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  background-color: white;
  width: 225px;
}

.hebergements-cards {
  display: inline-block;
  gap: 30px;
  margin-left: 25px;
}

.hebergements-cards .card,
.card-content,
.card-txt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hebergements-cards .card {
  gap: 4px;
}

.hebergements-cards img {
  width: 100%;
  height: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

.hebergements-cards .card-content,
.card-txt {
  gap: 8px;
}

.hebergements-cards .card-content {
  padding: 0px 15px 0px 10px;
}

.hebergements-cards .card-title {
  margin-top: 5px;
}

.hebergements-cards .card-subtitle {
  margin-top: auto;
  margin-bottom: auto;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergements-cards .fa-star {
  font-size: 13px;
  margin-right: -2px;
}

/**** EXPAND ****/

.hebergementsexpand {
  margin-left: 40px;
}

/***** POPULAIRES *****/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 30px;
  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.populaires-cards .card {
  display: flex;
}

.populaires-cards img {
  width: 33%;
  height: 125px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.populaires-cards .fa-star {
  margin-right: -3px;
}

/***** activities *****/

.container-activity {
  display: flex;
}

.activity-title {
  margin: 40px 30px 20px;
}

.activity-catalog-box {
  border-radius: 1em;
  box-shadow: 0 0 15px #0000002e;
}

.activity-catalog-box-img {
  border-radius: 1em 1em 0 0;
  width: 255px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.catalog-box {
  padding-left: 25px;
}

.activity-catalog-boxa {
  margin-right: 20px;
  margin-top: 60px;
  margin-left: -180px;
  border-radius: 1em;
  box-shadow: 0 0 15px #0000002e;
}

.activity-catalog-legend {
  display: flex;
  justify-content: flex-start;
  margin: 0.2em 1.5em 3em 1em;
  padding: 10px;
}

/***** footer *****/

.anion {
  background-color: #f2f2f2;
}

.anionBox {
  display: flex;
}

.anionBoxColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1em 1em;
}

.anionBoxColumnLink {
  display: flex;
  margin: 7px 0;
}

/***** MEDIA QUERIES *****/

/***  1024px ***/

@media (max-width: 1024px) {
  /*(FILTRES - TABLETS)*/

  .filterbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .filterbutton {
    flex-grow: 1;
    font-size: 16px;
  }

  .search-filters-title {
    width: 100%;
  }

  /*herbergements and popular - tablets*/

  .hebergements-and-populaires {
    flex-direction: column;
  }

  /*hebergement - tablets*/

  .hebergements {
    width: 100%;
    padding: 9px;
  }

  .hebergements .card-title {
    font-size: 13px;
  }

  .hebergements .card-subtitle {
    font-size: 14px;
  }

  .hebergementsexpand {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .catalog {
    width: 209px;
  }
  /*popular - tablets*/

  .populaires {
    width: 100%;
    margin-top: 50px;
    gap: 20px;
  }

  .populaires-cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .populaires-cards a {
    flex: 1;
  }

  .populaires-cards .card-content {
    width: 66%;
  }

  .populaires-cards .card-title {
    font-size: 15px;
  }

  .populaires-cards .card-subtitle {
    font-size: 14px;
  }

  /*activities - tablets*/

  .activites-cards img {
    height: 200px;
  }

  .activity-catalog-box {
    width: 160px;
  }

  .activity-catalog-box-img {
    width: 160px;
    height: 205px;
  }

  .activity-catalog-legend {
    padding: 10px;
    font-size: 12px;
  }

  .legend {
    padding: 12px 4px 20px 0px;
  }
}

/*** SMALL DEVICES - PHONES, LESS THAN 768px) ***/

@media (max-width: 767.98px) {
  .main-container {
    padding: 0px;
  }

  /*header - mobile*/

  header {
    flex-direction: column;
    align-items: center;
  }

  .searchiconmobile {
    display: contents;
    border-radius: 15px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 17px;
    padding: 15px 16px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  }

  /*nav - mobile*/

  nav,
  nav ul {
    padding: 0px;
    gap: 0px;
  }

  nav {
    width: 100%;
    padding-bottom: 15px;
  }

  nav ul {
    flex: 1;
  }

  nav li {
    border-bottom: 2px solid var(--main-bg-color);
    margin-bottom: -17px;
    padding-bottom: 15px;
    flex: 1;
  }

  nav li:hover {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: 2px solid #0065fc;
    margin-bottom: -17px;
    padding-bottom: 15px;
  }

  nav a {
    display: flex;
    justify-content: center;
    margin-bottom: -17px;
    padding-bottom: 15px;
  }

  /*information groupe - mobile*/

  .info {
    padding: 0px 20px;
  }

  /*formulaire - mobile*/

  .fieldtitle,
  .field {
    width: 100%;
    margin-right: -10px;
  }

  .searchicon {
    display: unset;
    border-radius: 15px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 17px;
    padding: 15px 16px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  }

  .fa-magnifying-glass {
    color: #ffffff;
  }

  .searchbutton {
    display: none;
  }

  /*hebergement and popular - mobile*/

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding: 30px 20px;
  }

  .hebergements-cards,
  .populaires-cards {
    flex-direction: column;
    gap: 15px;
  }

  .hebergements {
    margin-left: -25px;
  }

  .catalog {
    display: inline-block;
    padding: 6px;
    width: 104%;
    margin-right: 0;
    margin: 3px 10px 10px 0px;
    border-radius: 1.5em;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    background-color: white;
  }

  .catalog-box {
    width: 63%;
  }

  .hebergements-cards img {
    object-fit: cover;
    overflow: hidden;
    height: 120px;
  }
  /*popular - mobile*/

  .populaires {
    margin-top: 0px;
  }

  /*(hebergement - mobile*/

  .hebergements {
    gap: 15px;
    background-color: transparent;
  }

  .hebergementstitle {
    padding-bottom: 5px;
    margin: -15px 0px 10px 17px;
    font-size: 15px;
  }

  .hebergementsexpand {
    padding-top: 5px;
    margin-left: 20px;
  }

  /*activities - mobile*/

  .cardsactivities {
    flex-direction: column;
    gap: 15px;
  }

  .container-activity {
    flex-wrap: wrap;
  }

  .activity-catalog-box-img {
    width: 100%;
    height: 175px;
  }

  .activity-catalog-box {
    width: 155%;
  }

  .activity-catalogb {
    width: 261%;
  }

  .cardsactivities img {
    height: 140px;
  }

  .activity-catalog-legend {
    padding: 12px 4px 20px 0px;
  }

  /*footer -mobile*/

  footer {
    grid-template-columns: none;
  }

  .anionBox {
    flex-flow: column;
  }

  .anionBoxColumn {
    width: 60%;
  }
}
