/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-img {
  width: 61px;
  height: 19px;
}

.header-nav {
  margin-right: -30px;
}

.nav {
  display: flex;
}

.header-nav-link {
  font-weight: 500;
  padding: 1.2555em;
}

@media screen and (min-width: 536px) {
  .header-nav-link[data-active="true"] {
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }

  .header-nav-link:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }
}

/* formulaire */
.head-line {
  height: 90px;
}

.search-title {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  margin-bottom: -10px;
}

.search-sub-title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: left;
}

.search-form-icon-box {
  padding: 14px;
  background-color: #f2f2f2;
  border-radius: 1em 0em 0em 1em;
}

@media (max-width: 768px) {
  .fa-map-marker-alt {
    display: none;
  }
}

.search-form-insert-text {
  padding: 11px 10px;
  border: 2px solid #f2f2f2;
  width: 11em;
  font-size: large;
  font-weight: 501;
  font-family: "Raleway";
}

input::placeholder {
  color: black;
}

.search-form-insert-button {
  padding: 15px;
  background-color: #0065fc;
  border: none;
  color: white;
  font-family: "Raleway";
  border-radius: 0 1em 1em 0;
  font-weight: 690;
  font-size: medium;
  cursor: pointer;
}

.search-filters {
  display: flex;
  flex-flow: wrap;
  padding-top: 30px;
}
.search-filters-title {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.search-filters-box {
  display: flex;
  align-items: center;
  margin: 10px 5px 0px 5px;
  border: 2px solid #dac9c9;
  border-radius: 2em;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.search-filters-box:hover {
  background-color: rgb(237, 237, 217);
}

.search-filters-icon-box {
  display: flex;
  color: #0065fc;
  width: 3.2em;
  height: 3.2em;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  margin: -2px;
}

.search-filter-boxA {
  width: 150px;
  height: 40px;
}
.search-filter-boxB {
  width: 120px;
  height: 40px;
}
.search-filter-boxC {
  width: 140px;
  height: 40px;
}
.search-filter-boxD {
  width: 140px;
  height: 40px;
}

@media screen and (min-width: 536px) {
  .search-form-insert-icon {
    display: none !important;
  }
}

.search-result-box {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.search-result-icon-box {
  color: #0065fc;
  border: solid 1px #f2f2f2;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  height: 575px;
}
.catalog .card-rating {
  margin-top: -10px;
}

.catalog-top {
  display: inline-block;
  padding: 6px;
  margin: 30px 10px 50px 10px;
  border-radius: 1.5em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  background-color: white;
  width: 193px;
}

.catalog-pic-dimension {
  width: 100%;
  height: 90px;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
  overflow: hidden;
}

.catalog-pic-legend {
  display: flex;
  flex-direction: column;
  margin: -20px 9px 2px;
}

.margin-top {
  margin-top: -15px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
  text-align: left;
}

.most-popular-title {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.hosting-marseille-title {
  margin: 25px 15px 0px 25px;
}

.hosting-marseille-price {
  margin-top: -16px;
}

.container {
  display: flex;
  border-radius: 1.5em;
  padding: 15px;
  width: 420px;
  height: 620px;
  background-color: #deebff;
  margin-right: 40px;
}

.color-icon-star-blue {
  color: #0065fc;
}
.colorIconStarWhite {
  color: rgb(241, 212, 212);
}

.fas fa-chart-line {
  float: right;
  color: black;
}

.hosting-marseille-next {
  margin-top: -30px;
  cursor: pointer;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 120px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* activité*/
.container-activity {
  display: flex;
}

.activity-title {
  margin: 40px 0px 20px;
}

.activity-catalog-box {
  border-radius: 1em;
  box-shadow: 0 0 15px #0000002e;
}

.activity-catalog-box-imga {
  border-radius: 1em 1em 0 0;
  width: 260px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}
.activity-catalog-box-imgb {
  border-radius: 1em 1em 0 0;
  width: 260px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.activity-catalog-box-imgd {
  border-radius: 1em 1em 0 0;
  width: 260px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.catalog-box {
  padding-left: 30px;
}

.activity-catalog-box-imge {
  border-radius: 1em 1em 0 0;
  width: 260px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.activity-catalog-boxa {
  margin-right: 20px;
  margin-top: 60px;
  margin-left: -180px;
  border-radius: 1em;
  box-shadow: 0 0 15px #0000002e;
}

.activity-catalog-legend {
  display: flex;
  justify-content: flex-start;
  margin: 0.2em 1.5em 3em 1em;
  padding: 10px;
}

/*footer*/
.anion {
  background-color: #f2f2f2;
}

.anion-box {
  display: flex;
}

.anion-box-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1em 1em;
}

.anion-box-column-link {
  display: flex;
  margin-bottom: 7px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
